<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="PorticoEstate https://github.com/PorticoEstate/PorticoEstate">
        <meta name="description" content="Portico Estate">
        <meta name="keywords" content="Portico Estate">
        <meta name="robots" content="none">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-control" content="no-cache">
        <style TYPE="text/css">
            {{ css }}
        </style>
        <!-- Styles omitted for brevity -->
        <title>Portico Estate {{ lang_setup }} {{ page_title }}</title>
    </head>

    <body>

        <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <tr class="banner">
        <td align="left">
        &nbsp;Portico Estate {{ lang_version }} {{ pgw_ver }} {{ lang_setup }} {{ configdomain }}
        </td>
        <td align="right">{{ logoutbutton }}</td>
        </tr>
        </table>
        <div class="feedback">{{ lang_cookies_must_be_enabled }}</div>
        <!-- end head.tpl -->